/*
Version: 0.2
*/

/* Universal */

html, body {
  height: 100%;
  margin: 0;
}

/* Content */

.wrapper {
  width: 70%;
  margin: 0 auto;
}

main {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 100%;
}

article {
  grid-column: 1;
}

aside {
  grid-column: 2;
}

/* Sidewide Alert */
.sitewide-alert {
  width: 100%;
  background: red;
  text-align: center;
  color: white;
}
